<app-header></app-header>

<div class="container mt-3">
    <div class="row min-height-600 no-flex-wrap">
      <div class="card col-md-2 mr-2">
        <div class="col pl-0 pr-0">
          <div class="card mt-3 mb-2  text-center">
            <h4>My Courses</h4>
          </div>
          <div>
            <app-menu (matiereSelected)="onMatiereSelected($event)"></app-menu>
          </div>
        </div>
      </div>
      <div class="card col-md-10 pl-0 pr-0 background-grey border-none ">
        <div class="col pl-0 pr-0 d-flex flex-column justify-content-between">
          <div class="card p-3 min-height-80 mb-2">
            <app-header-etudiant></app-header-etudiant>
          </div>
          <div class="card mb-2" style="min-height: 480px">
              <router-outlet></router-outlet>
          </div>
          <div class="card min-height-80">
            <button class="btn btn-warning" (click)="open(content)" >Contact the Administration</button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Send Email</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submitForm()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" [(ngModel)]="description" name="description" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </ng-template>