<div #messageContainer id="messageContainer" class="message-container">
  <div *ngFor="let message of messages" class="message">
    <div class="avatar"></div>
    <div class="message-content">
      <div class="fullname">{{ getUserName(message.id_user) }}</div>
      <div class="content">{{ message.message }}</div>
    </div>
  </div>
</div>

<div class="message-input-container">
  <input #messageInput type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type your message..." class="form-control">
  <button #sendButton (click)="sendMessage()" class="btn btn-primary">Send</button>
</div>
