<app-header></app-header>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Total Users</h5>
        </div>
        <div class="card-body">
          <canvas id="canvas"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Total Subjects</h5>
        </div>
        <div class="card-body">
          <canvas id="canva"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
